@charset "UTF-8";

/*
task-list.jspで用いるスタイルシート
*/

*{
	 font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.main{
	
	 margin: 40px 0 40px;
	 text-align:center;
}

h1{
	font-size: 40px;
	font-weight: bold;
	color: rgb(18, 177, 190);
}

.table{
	border-collapse: collapse;
	border: 1px rgb(208, 208, 208) solid;
	width: 70%;
	margin: auto;
}

.table tr {
  background-color: #e6f1f6;
}

.table tr:nth-child(odd) {
  background-color: #fff;
}

.table th, .table td {
  padding: 12px;
}

.table th {
  font-weight: bold;
  text-align: center;
  background-color: rgb(229, 229, 229);
}

#delete{
	font-size: 13px;
		width: 70px;
	padding: 5px;
   background-color: rgb(255, 255, 255);
  color: rgb(18, 177, 190);
  border: solid 1px;
  border-radius: 4px;
  cursor: pointer;
}

#delete:hover{
	background-color: rgb(229, 229, 229);
 color: black;
 opacity: 0.8;
}

.btn{
	width: 15%;
  margin: 5px;
  padding: 5px;
  font-size: 13px;
  margin: 0% 3%;
}

#blueBtn{
	background-color: rgb(18, 177, 190);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#blueBtn:hover{
	background-color: rgb(14, 134, 143);
	opacity: 0.8;
}

/*
引用元：「【CSS】ツールチップをHTMLとCSSだけで簡単に作る　4.テキストで左に作るツールチップ」
https://www.jungleocean.com/programming/190308tooltip-css
*/
.tooltip4{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.tooltip4 p{
    margin:0;
    padding:0;
}
.description4 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
}
.description4:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 130px;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
    transform: rotateZ(270deg);
}
.tooltip4:hover .description4{
    display: inline-block;
    top: 0px;
    left: -130px;
}
