@charset "UTF-8";

*{
	 font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.main{
	 margin: 150px 0 auto;
	 text-align:center;
}

h1{
	font-size: 40px;
	font-weight: bold;
	color: rgb(18, 177, 190);
}

.add,.list{
	width: 30%;
  margin: 10px auto;
  padding: 10px;
  background-color: rgb(18, 177, 190);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.add:hover,.list:hover{
	background-color: rgb(14, 134, 143);
	opacity: 0.8;
}

.logout{
	width: 30%;
  margin: 10px auto;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(18, 177, 190);
  border: solid 1px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.logout:hover{
	background-color: rgb(229, 229, 229);
 color: black;
 opacity: 0.8;
}
