@charset "UTF-8";
/*
* 引用元：https://find-a.jp/seotimes/responsive-css-table-design/
*/

*{
	 font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

body{
	margin: 0;
}

main{
	 margin: 40px auto 40px;
	 text-align:center;
}

h1{
	font-size: 40px;
	font-weight: bold;
	color: rgb(18, 177, 190);
}

.table {
  border-collapse: collapse;
  margin: 0 auto 15px; 
  border: 1px rgb(208, 208, 208) solid;
}

.table tr {
  background-color: #e6f1f6;
}

.table tr:nth-child(odd) {
  background-color: #fff;
}

.table th, .table td {
  padding: 12px;
}

.table th {
  font-weight: bold;
  text-align: center;
  background-color: rgb(229, 229, 229);
}

.task{
	width: 170px;
}

.category{
	width: 150px;
}

.limit{
	width: 50px;
}

.user{
	width: 95px;
}

.status{
	width: 95px;
}

.memo{
	width: 265px;
}

.buttun{
	width: 70px;
}

.alter,.delete,.comment{
	width: 70px;
	padding: 5px;
   background-color: rgb(255, 255, 255);
  color: rgb(18, 177, 190);
  border: solid 1px;
  border-radius: 4px;
  cursor: pointer;
}

.alter:hover,.delete:hover,.comment:hover{
	background-color: rgb(229, 229, 229);
 color: black;
 opacity: 0.8;
}

.alter:disabled{
	width: 70px;
	padding: 5px;
   background-color: rgb(226, 226, 226);
  color: rgb(167, 167, 167);
  border: solid 1px;
  border-radius: 4px;
}

.delete:disabled{
	width: 70px;
	padding: 5px;
   background-color: rgb(226, 226, 226);
  color: rgb(167, 167, 167);
  border: solid 1px;
  border-radius: 4px;
}

.menu{
	width: 30%;
  margin: 20px auto;
  padding: 10px;
  background-color: rgb(18, 177, 190);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.menu:hover{
	background-color: rgb(14, 134, 143);
	opacity: 0.8;
}

/*
引用元：「【CSS】ツールチップをHTMLとCSSだけで簡単に作る　4.テキストで左に作るツールチップ」
https://www.jungleocean.com/programming/190308tooltip-css
*/
.tooltip4{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.tooltip4 p{
    margin:0;
    padding:0;
}
.description4 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
}
.description4:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 130px;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
    transform: rotateZ(270deg);
}
.tooltip4:hover .description4{
    display: inline-block;
    top: 0px;
    left: -130px;
}
